<mat-card>
    <div class="containerzz">
        <h1 class="text"><span>Hey! I'm Harkirat Singh Cheema</span></h1>
    </div>

    <!-- ------------Inner Content----------------- -->

    <div class="introduction">
    
        <mat-tab-group dynamicHeight>
            <mat-tab label="About Me!">
              <div class=" mat-elevation-z4">
                <mat-card-content style="font-family:Raleway; font-size: 15px;line-height:40px;">I am aspiring and creative developer and I love doing web development in different frameworks.
                I do have different logics to do same problem in programming. A programmer should have courage and patience to do things
                and I am good in those areas.
                </mat-card-content>
              </div>
            </mat-tab>
            <mat-tab label="Skills">
              <div class="example-large-box mat-elevation-z4">
                Large content
              </div>
            </mat-tab>
          </mat-tab-group>
          
    </div>
    <mat-divider></mat-divider>
    <h2>Qualifications</h2>
    <div class="containerzzz">
        <div>
        <div class="heading">Sheridan Institute of Technology and Advanced Learning</div>
        <h3>Computer Software Technology – Software Development and Networking<span style="float: right;">Graduation Expected December 2021</span></h3>
        <mat-card-content>I am pursuing Computer System Technology - Software Development and Networking.
            It is 3 year advance diploma and I have 3 Co-ops in my course and currently I am pursuing my first Co-op in RBC.</mat-card-content>
            
            <mat-nav-list>
                <mat-list-item> Software development in Java, Java EE, C, C# and .NET. </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> Web technologies and web application development. </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> Database technologies and database administration. </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> Direct, hands-on instruction. </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> A capstone project in your final year where you'll follow industry best practices to design and develop a real-world software solution from start to finish. </mat-list-item>
               </mat-nav-list>
        </div>
            <!--  -->
    <div class="image">
        <img class="sheridan" src="https://thepointer.com/photos/headers/sheridan-college-plans-to-boost-brampton-s-energy-efficiency-curb-effects-of-climate-change-the-pointer-aafc2daa.jpg">
    </div>

    </div>
</mat-card>
